<mat-sidenav-container>
 
  <mat-sidenav-content fxLayoutAlign="center">
    
      <nav id="sidenav" fxLayout="column">
      <img class="svg" src="../../../../assets/Lotus-Flower.svg" alt="">
         


      <ul  id="list">
        <li id="button"><a routerLink="/">Home</a></li>
      </ul>

      <ul>
        <li  id="button" class="dropdown">Terapias
        <ul>
          <li id="list"><a id="button" routerLink="/terapias/coach">Coach </a></li>
          <li id="list"><a id="button" routerLink="/terapias/mentoria">Mentoria </a></li>
          <li id="list"><a id="button" routerLink="/terapias/constelacao">Constelaçao </a></li>
          <li id="list"><a id="button" routerLink="/terapias/bioalinhamento">Bioalinhamento </a></li>
          <li id="list"><a id="button" routerLink="/terapias/reiki">Reiki</a></li>
        </ul>
        </li>
      </ul>
      
      <ul>
          <li  id="button" class="dropdown">Artesanatos
          <ul>
            <li id="list"><a id="button" routerLink="/artesanatos/japamalas">Japamalas</a></li>
            <li id="list"><a id="button" routerLink="/artesanatos/escapularios">Escapularios</a></li>
            <li id="list"><a id="button" routerLink="/artesanatos/pingentes">Pingentes</a></li>
          </ul>
          </li>
        </ul>
        
       
        <span id="button">Redes sociais</span>
        
        <ul id="list">
              <li id="redes">
                <a id="redes" href="https://api.whatsapp.com/send?phone=5565992482745&text=Ol%C3%A1!" target="_blank"><img clas="svg" src="../../../assets/whatsapp-icon-seeklogo.com.svg" alt="">Whatsapp</a>
              </li>
        </ul>
        <ul id="list">
              <li id="redes">
                <a id="redes" href="https://api.whatsapp.com/send?phone=5565992482745&text=Ol%C3%A1!" target="_blank"><img clas="svg" src="../../../../assets/instagramvector-partikusi-design-seeklogo.com.svg" alt="">Instagram</a>
              </li>
        </ul>
        <ul id="list">
              <li id="redes">
                <a id="redes" href="https://api.whatsapp.com/send?phone=5565992482745&text=Ol%C3%A1!" target="_blank"><img clas="svg" src="../../../../assets/facebook-seeklogo.com.svg" alt="">Facebook</a>
              </li>
        </ul>

        
      
      </nav>
    
  </mat-sidenav-content>
</mat-sidenav-container>