
mat-sidenav-container{
      background-color: (#273951);
   height: 100%;
    min-width: fit-content;
    
}



span{
  font-size: 35px;
  text-align: start;
  padding-left: 10px;
  margin-bottom: 10px;
}


.svg {
  filter: invert(52%) sepia(100%) saturate(331%) hue-rotate(139deg) brightness(93%) contrast(95%);
  width: 50%;
  align-self: center;
  margin-bottom: 50px;
}



#button a{
    text-decoration: none;
    color: white;
    line-height: 25px;
}


#redes{
  font-family:'Dongle', 'Roboto', "Helvetica Neue",'Dongle', sans-serif;
        color: #fff;
        cursor: pointer;
        font-weight: 500;  
        font-size: 25px;
        text-decoration: none;
        align-items:center;
        display: flex;
        
        
}

#redes a{
  margin-left: 10px;
}

#button {
   
  font-family:'Dongle', 'Roboto', "Helvetica Neue",'Dongle', sans-serif;
        color: #fff;
        cursor: pointer;
        font-weight: 500;     
        
}

#sidenav>ul{
  list-style-type: none;
  font-size: 35px;
  
}

#sidenav>ul>li>ul>li{
  list-style-type: none;
  
  font-size: 25px;
}

#list:hover{
  padding-top: 5px;
  background-color:#314866;
  transition: .5s ease-in-out;
}

#sidenav>ul>li>ul>li::before{
  content: '✧';
  left: 0;
}

ul#list, ul{
 margin: 10px 0px;
}

img{
  width: 25px;
}

ul{
  padding-left: 10px;
  padding-right: 5px;
}



@media screen and (max-width: 768px) {
  
  mat-sidenav-container{
    min-height: 100vh;
  }



.svg{
  max-width: 30%;
  margin-bottom: 20px;
}



#button {
   
  font-family:'Dongle', 'Roboto', "Helvetica Neue",'Dongle', sans-serif;
        color: #fff;
        cursor: pointer;
        font-weight: 500;     
        
}

#sidenav>ul{
  list-style-type: none;
  font-size: 30px;
  
}

#sidenav>ul>li>ul>li{
  list-style-type: none;

  font-size: 25px;
}

#list:hover{
  padding-top: 1px;
  background-color:#314866;
  transition: .5s ease-in-out;
}


}