
<header fxLayoutAlign="center">
    
    <a fxLayout="" routerLink="/">
        <h1 class="nome">Silbayne </h1>
        <img class="svg" src="../../../../assets/Lotus-Flower.svg" alt="">
        <h1 class="nome">Silva</h1>  
        
    </a> 
    
</header>























        <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <a routerLink="/">Home</a>
        </button>
        <button mat-menu-item>
            <a routerLink="/posts">Posts</a>
        </button>
        <button mat-menu-item>
            <a routerLink="/login">Login</a>
        </button>
      </mat-menu> 
   



