
<div class="tudo">
    <h1>Mentoria Pessoal e Educacional</h1>
    <hr>
    <div class="banner">
    <img class="banner" src="../../../assets/mentoria.jpg" alt="">
    </div>
    <hr>
    
        
    <div class="conteudo">
        <h2>O que é a Mentoria?</h2>
        <p>A mentoria pessoal é uma ferramenta de desenvolvimento pessoal. Durante a mentoria, você aprende a se entender melhor, a valorizar o conselho de pessoas experientes e adquire dicas para estimular seu progresso. 
            Além disso, a mentoria pessoal auxilia o mentorado a encontrar as melhores estratégias e caminhos para alcançar cada objetivo. </p>
        <br>
        <h2>Como funciona?</h2>
        <p>A mentoria é construída para que você consiga identificar e trabalhar aquilo que for mais relevante para transformar seu cotidiano e conseguir alcançar crescimento pessoal.</p>
        <br>
        <h2>Benefícios:</h2>
        <ul>
            <li>Transforme sua vida e atinja seus objetivos</li>
            <li>Controle suas emoções</li>
            <li>Trace metas rumo aos seus objetivos</li>
            <li>Controle suas emoções</li>
        </ul>
        <br>
        <h2>Entre em contato e agende seu horário!</h2>
        <div id="zap">
        <a href="https://api.whatsapp.com/send?phone=5565992482745&text=Ol%C3%A1!" target="_blank"><img clas="svg" src="../../../assets/whatsapp-icon-seeklogo.com.svg" alt="">Whatsapp</a>
        <br>
</div>
    </div>