<div class="redes">
    <a href="https://api.whatsapp.com/send?phone=5565992482745&text=Ol%C3%A1!" target="_blank"><img src="../../../assets/whatsapp-icon-seeklogo.com.svg" alt="">
    <span>Whatsapp</span></a>
    <br>
    <a href="https://www.instagram.com/_silbaynesilva/" target="_blank"><img src="../../../assets/instagramvector-partikusi-design-seeklogo.com.svg" alt="">
    <span>Instagram</span></a>
    <br>
    <div id="face">
    <a href="https://api.whatsapp.com/send?phone=5565992482745&text=Ol%C3%A1!" target="_blank"><img src="../../../assets/facebook-seeklogo.com.svg" alt="">
    <span>Facebook</span></a>
    </div>
</div>
