<div class="tudo">
    <h1>Pingentes</h1>
    <hr>
    <ng-image-slider class="slider" #nav
    [images]="imageCollection"
    [infinite]="true"
    [autoSlide]={interval:3,stoponHover:true}></ng-image-slider>

    <div class="conteudo">
        <h2>Significado dos pingentes</h2>
        <p>A simbologia e significados dos pingentes e de muitos outros elementos encontrados em joias é um tema que desperta a curiosidade de muitas pessoas, pois se trata de acessórios de uso diário e representam crenças, personalidade e valores.

            Os pingentes são joias muito utilizadas como amuletos de sorte, fé, proteção e poder, além de serem lembretes de pessoas queridas, como parceiros, pais e filhos. 
            
            Bem além de ser um item usado na moda, os pingentes também podem trazer conforto, força e suporte emocional em momentos difíceis.  </p>
        <br>
        <h2>Peça já o seu!</h2>
        <div id="zap">
            <a href="https://api.whatsapp.com/send?phone=5565992482745&text=Ol%C3%A1!" target="_blank"><img clas="svg"
                    src="../../../assets/whatsapp-icon-seeklogo.com.svg" alt="">Whatsapp</a>
            <br>
        </div>
    </div>
</div>