
<div class="tudo">
    <h1>Constelação Familiar</h1>
    <hr>
    <div class="banner">
    <img class="banner" src="../../../assets/banner-constelao-sistemica.jpg" alt="">
    </div>
    <hr>
    
        
        <div class="conteudo">
            <h2>O que é a Constelação Familiar?</h2>
            <p>A constelação familiar é uma prática considerada terapêutica que busca resolver conflitos familiares que atravessam gerações.
                 Num primeiro olhar, a técnica tem conteúdos parecidos aos do psicodrama, por conta da dramatização de situações, e da psicoterapia breve, pela ação rápida. </p>
            <br>
            <h2>Como funciona?</h2>
            <p>A dinâmica pode ser feita em grupo ou individualmente. Durante a sessão são recriadas cenas que envolvam os sentimentos e sensações que o constelado sente sobre sua família. 
                Nas sessões em grupo, são os voluntários e participantes que vivem essas cenas. Já nas sessões individuais podem ser usados esculturas de bonecos ou quaisquer outros recursos disponíveis - setas, pedras, adesivos, âncoras de solo —para representar os diferentes papéis do sistema.</p>
            <br>
            <h2>Benefícios:</h2>
            <ul>
                <li>Uma vida com mais significado e leveza</li>
                <li>Desenvolve o autoconhecimento</li>
                <li>Melhoria nos relacionamentos</li>
                <li>Traz resultados para diversas profissões</li>
            </ul>
            <br>
            <h2>Entre em contato e agende seu horário!</h2>
            <div id="zap">
            <a href="https://api.whatsapp.com/send?phone=5565992482745&text=Ol%C3%A1!" target="_blank"><img clas="svg" src="../../../assets/whatsapp-icon-seeklogo.com.svg" alt="">Whatsapp</a>
            <br>
    </div>
    </div>