<div class="tudo">
    <h1>Japamalas</h1>
    <hr>
    <ng-image-slider class="slider" #nav
    [images]="imageCollection"
    [infinite]="true"
    [autoSlide]={interval:3,stoponHover:true}></ng-image-slider>

    <div class="conteudo">
        <h2>O que é a Japamala?</h2>
        <p>Japamala é uma palavra com origem no sânscrito em que “japa” significa murmurar e “mala” guirlanda ou colar. 
            O termo faz referência a um objeto de origem indiana semelhante ao terço católico, mas possui 108 contas e é utilizado para guiar a meditação. Cada conta é um mantra a ser entoado. </p>
        <br>
        <h2>Como usar?</h2>
        <p>Antes de usar o seu japamala, olhe para ele, toque-o e coloque a intenção que você pretende ao usá-lo. Segundo a tradição, ao iniciar a meditação com o japamala deve-se dar pelo menos uma volta completa no colar, 
            de modo que o mantra que você escolheu seja repetido 108 vezes.</p>
        <br>
        <h2>Peça já o seu!</h2>
        <div id="zap">
            <a href="https://api.whatsapp.com/send?phone=5565992482745&text=Ol%C3%A1!" target="_blank"><img clas="svg"
                    src="../../../assets/whatsapp-icon-seeklogo.com.svg" alt="">Whatsapp</a>
            <br>
        </div>
    </div>
</div>