<div class="tudo">
    <h1>Escapulários</h1>
    <hr>
    <ng-image-slider class="slider" #nav
    [images]="imageCollection"
    [infinite]="true"
    [autoSlide]={interval:3,stoponHover:true}></ng-image-slider>

    <div class="conteudo">
        <h2>O que é o Escapulário?</h2>
        <p>O escapulário é um objeto símbolo da religião cristã católica, que consiste em duas imagens, uma do Sagrado Coração de Jesus Cristo e outra de Nossa Senhora, e possui o significado de "proteção" física e espiritual.
             O escapulário é feito tradicionalmente de pano, mas é atualmente encontrado em diversas formas: escapulários de ouro, de prata, bronze ou mesmo de madeira. </p>
        <br>
        <h2>Origem</h2>
        <p>A palavra escapulário surgiu a partir do latim scapula, que quer dizer "armadura" ou "proteção", referente também à região do ombro e da escápula, osso localizado na região dos ombros e acima do tórax humano.
            O uso do escapulário, para os católicos, simboliza um ato de devoção à Virgem Maria, mãe de Jesus Cristo.</p>
        <br>
        <h2>Peça já o seu!</h2>
        <div id="zap">
            <a href="https://api.whatsapp.com/send?phone=5565992482745&text=Ol%C3%A1!" target="_blank"><img clas="svg"
                    src="../../../assets/whatsapp-icon-seeklogo.com.svg" alt="">Whatsapp</a>
            <br>
        </div>
    </div>
</div>