
<div class="tudo">
    <h1>Bioalinhamento Energético</h1>
    <hr>
    <div >
    <img class="banner" src="../../../../assets/bio-logo.jpg" alt="">
    </div>
    <hr>
    
        
        <div class="conteudo">
        <h2>O que é Bioalinhamento?</h2>
        <p>Bioalinhamento se trata de um método de terapia voltado à investigação e tratamento do ser humano. Fugindo de métodos mais convencionais, a terapia acaba atuando de maneira mais ampla para atender as necessidades dos pacientes. 
            Em suma, a proposta é encontrar as causas dos sintomas e tratar as enfermidades de maneira eficaz. </p>
        <br>
        <h2>Como funciona?</h2>
        <p>O processo de terapia de bioalinhamento começa com uma profunda anamnese no paciente. Anamnese se trata de uma rememoração, por assim dizer, das funções e pontos de construção do corpo. 
            Nisso, identificando os trilhos de sua formação, se iniciará uma dinâmica para que ele se localize no espaço e tempo.</p>
        <br>
        <h2>Benefícios:</h2>
        <ul>
            <li>Estimular a autocorreção</li>
            <li>Solução para uma enfermidade físico-biológica</li>
            <li>Evolução do organismo integral</li>
            <li>Qualidade de vida</li>
        </ul>
        <br>
        <h2>Entre em contato e agende seu horário!</h2>
        <div id="zap">
        <a href="https://api.whatsapp.com/send?phone=5565992482745&text=Ol%C3%A1!" target="_blank"><img clas="svg" src="../../../assets/whatsapp-icon-seeklogo.com.svg" alt="">Whatsapp</a>
        <br>
    </div>
    </div>
    </div>