
<div class="tudo">
    <h1>Reiki</h1>
    <hr>
    <div >
    <img class="banner" src="../../../../assets/reiki-I-espacoluzevida-450x380.jpg" alt="">
    </div>
    <hr>
    
        
        <div class="conteudo">
        <h2>O que é Reiki?</h2>
        <p>Reiki significa energia vital universal, que é transferida do terapeuta - ou mestre reikiano - para o paciente pelas mãos, a fim de equilibrar corpo, mente e emoções. </p>
        <br>
        <h2>Como funciona?</h2>
        <p>Durante a prática do Reiki, o paciente fica deitado em uma maca com os olhos fechados meditando sobre cinco princípios: não sentir raiva, não se preocupar, ter gratidão, trabalhar com dedicação e ser gentil. Enquanto isso, o mestre reikiano faz alguns movimentos com as mãos sobre o corpo do paciente para canalizar as energias dele, funcionando como um canal das "energias vitais universais".</p>
        <br>
        <h2>Benefícios:</h2>
        <ul>
            <li>Alívio de dores crônicas</li>
            <li>Mais saúde mental</li>
            <li>Menos insônia</li>
            <li>Qualidade de vida</li>
        </ul>
        <br>
        <h2>Entre em contato e agende seu horário!</h2>
        <div id="zap">
        <a href="https://api.whatsapp.com/send?phone=5565992482745&text=Ol%C3%A1!" target="_blank"><img clas="svg" src="../../../assets/whatsapp-icon-seeklogo.com.svg" alt="">Whatsapp</a>
    <br>
    </div>
    </div>
    </div>